@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.username-input {
    background-color: #404040;
    border-radius: 3px;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
    
}

img {
    filter: invert(100%);
}

p{
    font-family: 'Open Sans', sans-serif;
    color:white;
}

.title{
    text-align: center;
    color: white;
}

.username-container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-button{
    display: none;
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    background-color: #404040;
    border-radius: 15px;
    border: none;
    color: white;
}

.message-box-container{
    position: fixed;
    bottom: 0px;
    width: 99%;
    background-color: rgba(78, 78, 78, 0.1);
    backdrop-filter: blur(5px);
    border: 0px solid gray;
    /*left: 50%;
    margin-left: -150px;*/
}

.message-box{
    width: 92%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    transition-duration: 0.2s;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    outline: none;
    color: rgba(255, 243, 243, 0.507);
}



.message-send{
    display: none;
    width: 70px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 0 15px 15px 0;
    transition-duration: 0.5s;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    color: rgba(255, 243, 243, 0.507);
}


.message-showroom{
    display: none;
    width: 100%;
    float: left;
    overflow-y: auto;
    height: 100%;
    margin-bottom: 35px;
    
}


@media only screen and (max-width: 600px) {
    .message-box{
        width: 70%;
    }

}

